{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier", "jest"],
  "rules": {
    "prettier/prettier": 2,
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["**/*.test.ts"] }
    ],
    "no-use-before-define": 0
  },
  "env": {
    "jest": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.prod.js"
      }
    }
  }
}
