{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier", "jest"],
  "rules": {
    "prettier/prettier": 2
  },
  "env": {
    "jest": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.prod.js"
      }
    }
  }
}
